.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  margin: 114px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 75px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 25px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 12px 0 0 963px;
}

.u-section-2 .u-text-2 {
  margin: -22px 892px 12px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 763px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 692px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 543px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 472px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 363px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 292px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 31px;
    margin-right: 163px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -45px;
    margin-right: 92px;
    margin-bottom: 29px;
  }
}