.u-section-1 .u-sheet-1 {
  min-height: 1809px;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  margin: 1561px auto 0 -72px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1128px;
  margin: -1745px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1721px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-image-1 {
  box-shadow: 0 0 22px 0 rgba(41,45,51,0.2);
  height: 466px;
  object-position: 50% 50%;
  background-position: 50% 100%;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-shape-2 {
  width: 642px;
  height: 271px;
  --radius: 70px;
  margin: -695px -233px 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 1.25rem;
  margin: 610px auto 0 0;
  padding: 17px 44px 18px;
}

.u-section-1 .u-image-2 {
  min-height: 820px;
  filter: none;
  --effect-scale: 1;
  background-size: cover;
  background-image: url("images/att.MyzEK_eUaYIIXf4B3JOiFsKHNY--bMb97EbUo_n9EGo.JPG");
  background-position: 58.46% 53.81%;
  --top-right-radius: 50px;
}

.u-section-1 .u-image-3 {
  min-height: 847px;
  filter: none;
  background-image: url("images/unnamed3.jpg");
  background-position: 50% 39.73%;
  --bottom-right-radius: 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1836px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1621px;
    margin-left: -50px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -1773px;
    margin-bottom: 32px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1680px;
  }

  .u-section-1 .u-image-1 {
    --radius: 0px;
    --top-right-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
    height: 388px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
  }

  .u-section-1 .u-image-2 {
    min-height: 683px;
    --radius: 0px;
    --top-left-radius: 0px;
    --bottom-right-radius: 0px;
    --bottom-left-radius: 0px;
  }

  .u-section-1 .u-image-3 {
    min-height: 706px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1899px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1651px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1835px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1714px;
  }

  .u-section-1 .u-image-1 {
    height: 297px;
  }

  .u-section-1 .u-shape-2 {
    width: 350px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 523px;
  }

  .u-section-1 .u-image-3 {
    min-height: 541px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3293px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1533px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1652px;
    margin-bottom: 10px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1598px;
  }

  .u-section-1 .u-image-1 {
    height: 446px;
  }

  .u-section-1 .u-image-2 {
    min-height: 785px;
  }

  .u-section-1 .u-image-3 {
    min-height: 812px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2406px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1236px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1464px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1411px;
  }

  .u-section-1 .u-image-1 {
    height: 281px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: -696px;
    margin-right: -20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 475px;
  }

  .u-section-1 .u-image-2 {
    min-height: 494px;
  }

  .u-section-1 .u-image-3 {
    min-height: 511px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 97px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 25px auto 0;
}

.u-section-2 .u-text-1 {
  margin: 9px 114px 0 849px;
}

.u-section-2 .u-text-2 {
  margin: -22px 671px 37px 114px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 98px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-right: 14px;
    margin-left: 749px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin: -21px 614px 36px 14px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 543px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 408px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 363px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 228px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 104px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: 31px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -45px;
    margin-right: 0;
    margin-bottom: 52px;
  }
}